<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ivany</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
		<link rel="stylesheet" href="static/css/app.css" />
		<link rel="stylesheet" type="text/css" href="static/css/index.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/loaders.css"  />

	</head>
	<body>

    <div id="main" class="main">
		{% if current_user.is_authenticated %}
		<div class="menu">
			<li class="dropdown" style="position: absolute;right: 50px;top: 10px;">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">
					操作设置
				</a>
				<ul class="dropdown-menu animated fadeInRight" style="width: 100px;min-width: 100px;">
					<li>
						<span class="arrow top"></span>
						<a href="{{ url_for('main.add') }}">添加文章</a>
					</li>
					<li>
						<a href="{{ url_for('main.add_photo') }}">添加图片</a>
					</li>
					<li>
						<a href="{{ url_for('main.add_link') }}">添加转载</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="{{ url_for('main.logout') }}">退出</a>
					</li>
				</ul>
			</li>
		</div>
		{% endif %}
		<div class="header">
			<div class="userinfo">
				<a href="javascript:;" class="avatar">
					<img src="static/images/m22.jpg" />
				</a>
				<div class="name"><a href="#">ivany</a></div>
				<div class="sign">生命在于运动，奔跑吧程序员...</div>
			</div>
			<div class="navbar">
				<div class="item">
					<a href="mailto:yangpeng515@126.com">私信</a>
					<div class="bg">私信</div>
				</div>
				
				<div class="item">
					<a href="https://github.com/yangpeng515" target="_blank">Github</a>
					<div class="bg">Github</div>
				</div>
				
				<div class="item">
					<a href="#">RSS</a>
					<div class="bg">RSS</div>
				</div>
				
				<div class="item" style="width: 150px;">
					<div class="search">
						<input type="text" placeholder="搜索" />
					</div>
					<div class="bg" style="width: 150px;"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="blog-post" class="blog-post">

			</div>
            <div id="loader" class="loader" style="text-align: center;display: none;">
                <div class="loader-inner ball-pulse">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
		</div>
		<div id="footer" class="footer">
			<div class="copyr">
				© <a href="http://www.ivany.me/">ivany</a>
				<span class="sep">|</span>
				Powered by <a href="http://www.lofter.com">LOFTER</a>
				<a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备15005975号</a>
			</div>
				
		</div>
    </div>
	</body>


    <script type="text/html" id="article-list-temp">

		<% for(var i = 0, len = list.length; i < len; i++){ %>
		    <div class="post-item">
		    	<% if(list[i].type==2){ %>
				<div class="post-media">
					<img src="<%= list[i].pic %>" class="img-full">
				</div>
				<% } %>
				<div class="caption wrapper-lg">
					<h2 class="post-title"><a target="_blank" href="<%= list[i].link %>"><%= list[i].title %></a></h2>
					<div class="post-sum">
                        <%= list[i].desp %>
					</div>
					<div class="line line-lg"></div>
					<div class="text-muted">
						<!--<i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">ivany</a>-->
						<i class="fa fa-clock-o icon-muted"></i> <%= list[i].addtime %>
						<!--<a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> 0 comments</a>-->
					</div>
				</div>
			</div>
		<% } %>

	</script>

    <script type="text/javascript" src="static/js/jquery.min.js" ></script>
    <script type="text/javascript" src="static/js/bootstrap.js" ></script>
    <script type="text/javascript" src="static/js/template-native.js"></script>
    <script type="text/javascript" src="static/js/index.js" ></script>
</html>
